@{
    ViewData["Title"] = "About";
    ViewData["Email"] = "thiagosilva196@gmail.com";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>@ViewData["Aluno"]</p>
<address>
    <p>@ViewData["Email"]</p>
</address>
